@import "tailwindcss";


:root {
  /* Primary luxury colors */
  --color-primary: #0B0B0B;   /* Black */
  --color-secondary: #F5F1EB; /* Warm Ivory */
  --color-accent: #d1ac5c;    /* Gold */
  --color-muted: #2A2A2A;     /* Charcoal */
}

/* Example global usage */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

